#home-page{
    max-height: 800px;
	background-color: rgba(0,0,0,0.8);
}

#home-page .inner-page{
	min-height: 800px;
	display: table;
	margin: 0 auto;
}

video#bgvid {
position: absolute;
right: 0;
top: 0;
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto; 
z-index: -100;
background: url(../images/carlton.png) no-repeat;
background-size: cover;
}

video#ttPlayTest1,video#ttPlayTest2,video#ttPlayTest3{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.centeredText{
	display: table-cell;
	vertical-align: middle;
}

.centeredIframe{
    display: block;
    margin: 0 auto;
}

#home-page h1{
	font-family: "Open Sans", sans-serif;
	font-size: 4.0em;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	margin: 0px auto;
	vertical-align: middle;
}

#home-page h3{
	font-family: "Open Sans", sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	margin: 0px auto;
	vertical-align: middle;
}

.sectionTitleRed{
    font-family: "Open Sans", sans-serif;
	font-size: 2.2em;
	font-weight: 600;
	color: #e75549;
}

.specialStatement{
    font-family: "Open Sans", sans-serif;
	font-size: 1.8em;
	font-weight: 600;
	color: #5381ac;
}

.tagline{
    display: block;
    font-weight: 700;
    text-align: center;
}

#personalLogo img{
	display: block;
	margin: 0 auto;
}

.divider{
	width: 31px;
	border-bottom: 1px solid #fff;
	margin: 10px auto;
}

.headshot{
	margin: 0 auto;
	display: block;
	width: 195px;
	height: 195px;
	border-radius: 100px;
	margin-right: 24px;
	float: left;
}

#helloMessage{
	font-family: "Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #E2E2E2;
}

.personalBio{
	text-align: left;
	font-size: 14px;
	font-family: "Bitter","Open Sans","HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 400;
	margin-top: 10px;
}

#contactInfo{
	font-family: "Open Sans","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #E2E2E2;
	text-align: center;
}

#contactInfo span{
	margin-left: 30px;
}

#contactSocial{
	display: block;
	margin: 0 auto;
	text-align: center;
}

#contactSocial ul{
	display: inline-block;
}

.large{
	font-size: 32px;
	line-height: 32px;
}

.alignCenter{
	display: block;
	margin: 0 auto;
	width: 100%;
}

#footer{
	color: #E2E2E2;
}